<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41139521847-pn8e37sffi59lesk8jsk62j6fkien8td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41139521847-pn8e37sffi59lesk8jsk62j6fkien8td</string>
	<key>API_KEY</key>
	<string>AIzaSyCfG7Fn7qVAGK4Wom3CYlfiwlVQpZjrg6M</string>
	<key>GCM_SENDER_ID</key>
	<string>41139521847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativelab</string>
	<key>PROJECT_ID</key>
	<string>todo-app-bf05b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-bf05b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41139521847:ios:58edfdcba49d6b230af2b2</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-bf05b.firebaseio.com</string>
</dict>
</plist>